html {
    font-size: 18px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:darkturquoise;
}

h3 {
    text-align: center;
    
}

form{
    text-size-adjust: 10px;
    text-align: center;
    
    }

    label{
        text-align: center;
        display: grid;
        
        
    }
input{
    text-align: center;
    display: inline-block;
    
}


